*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
    background-color: rgb(187, 248, 233);
	
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: right;
	padding: 20px 100px;
}


.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: #5bd6c1;
    padding: 2%;
    color: #fff;
    margin: 7px ;
    border-radius: 8px;
    font-size: 20px;	
	
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 1px;
	margin-bottom: 10px;
}

.contact-box hr{
    background-color: #237d9e;
    border: none;
    width: 50px;
    height: 3px;
    margin: 20px auto;
}


.field{
	width: 90%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 18px;
	margin-bottom: 22px;
	transition: .3s;
	border-radius: 5px;
   
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color: orange;
	color: rgb(255, 255, 255);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    border-radius: 20px;
    font-weight: bold;
	text-decoration: none;
}

.btn:hover{
    background-color: rgb(238, 208, 108);
}


.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;

}
.form-select{
	font-size: 16px;
    background: #fff;
    padding: 10px 12px;
	width: 90%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
    border-radius: 5px;
    background-position: 95% center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 10px rgb(160 160 160 / 40%) !important;
    vertical-align: top;
}

.message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}


@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}