
body{
    font-family: 'Roboto', sans-serif;
  }
  
  
  .nav-back{
      background: rgba(17, 219, 207,0.8);
      color: #fff;
      height: 50px;
  }
  .navbar-brand{
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-weight: bold;
  }
  .navbar-brand:hover{
    color: #fff;
  }
  .nav-link{
    color: rgb(0, 0, 0);
  }
  .nav-link:hover{
    color:#fff;
  }
  .navbar-toggler{
    outline: none!important;
  }


.img2{
 width: 110px;
  margin-top: 3px;
}
  
   
 
    
    
    
     h5 {
      color: rgb(255, 0, 0);
      margin-bottom: 40px;
      font-size: 15px;
      font-weight: 500;
      font-family:cursive;
     
    }
    
    
   
  dfn{
    color: rgb(17, 230, 27);
  }
   
   
   
   
   
   
   
   
   
   
    .footer {
        text-align: center;
        font-size: 0.9rem;
        background:rgba(41, 199, 188, 0.8);
      }
      .footer .btn-back{
        background: #fff;
        color: #00d9ff;
      }
      .footer .text{
        color: #000;
      }
     